extends ../layout
include ../mixins

block content
  if sessionUser
    if sessionUser.nickname
      +menu(sessionUser.nickname)
    else
      +menu(sessionUser.fullname)
  else
    +menu(null)

  .container
    if users
      each user in users
        .row
          .col-sm-1
            img(src=user.picture width=60 height=60 alt=user.picture)
          .col-sm-7
            p
              | #{user.id}
              | - #{user.nickname}
              | - #{user.firstname}
              | - #{user.lastname}
              | - #{user.email}
              | - #{user.authenticated}
              | - #{user.isAdmin}
          .col-sm-4
            a(href='/users/' + user.id) Ver
            a(href='/users/' + user.id + '/update') Actualizar
            a(href='/users/' + user.id + '/images') Foto

  .container
    ul.nav.navbar-nav
      -var pagePrevio = pageNumber - 1
      -var pageNext = pagePrevio + 2
      -pagePrevio = pagePrevio < 1? 1 : pagePrevio
      -pageNext = pagePrevio < 1? 2 : pageNext
      -var urlPrevio = '/users?limit='+limit+'&page='+pagePrevio
      -var urlNext = '/users?limit='+limit+'&page='+pageNext
      li: a(href=urlPrevio) Anterior
      li= pageNumber
      li: a(href=urlNext) Siguiente

  +foot
