extends ../layout
include ../mixins

block content
  if sessionUser
    if sessionUser.nickname
      +menu(sessionUser.nickname)
    else
      +menu(sessionUser.fullname)
  else
    +menu(null)

  .row
    .col-sm-4
      img(src=user.picture width=180 height=300 alt=user.picture)
      p= user.picture
    .col-sm-6
      p= user.id
      p= user.nickname
      p= user.fullname
      p= user.email
      p= user.authenticated
      p= user.isAdmin
  .row
    a(href='#') Cambiar foto
    a(href='#') Cambiar clave
    a(href='#') Editar datos


  +foot
